@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

body {
  font-family: "Raleway", sans-serif;
  color: #fff;
  background: #070707;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 15px;
}

.subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.subtitle span {
  font-weight: 700;
}

.scrollback {
  position: fixed;
  bottom: 150px;
  right: 40px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.scrollback img {
  max-width: 20px;
}

@media (min-width: 1024px) {
  .scrollback:hover {
    border: 1px solid #4f4f4f;
  }
}

.scrollback.visible {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
  .scrollback {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }
}

.date {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4f4f4f;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 49px;
  line-height: 70px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1365px) {
  .title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 30px;
  }
}

.universal-link {
  display: inline-block;
  height: 70px;
  width: 260px;
}

@media (min-width: 1024px) {
  .universal-link:hover .icon__arrow {
    -webkit-transform: translate(7px, 0);
            transform: translate(7px, 0);
  }
  .universal-link:hover .universal-link__more::before {
    width: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.universal-link__more {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  position: relative;
  left: 96px;
  top: 28px;
}

.universal-link__more::before {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  bottom: 0;
  left: 0px;
  display: inline-block;
  height: 1px;
  width: 0%;
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
  background: #fff;
}

@media (max-width: 600px) {
  .universal-link__more span {
    display: none;
  }
}

.universal-link .icon {
  position: relative;
  display: inline-block;
}

.universal-link .icon__circle {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.universal-link .icon__arrow {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 23px;
  left: 23px;
  display: inline-block;
  height: 1px;
  width: 48px;
  background: #fff;
}

.universal-link .icon__arrow:after, .universal-link .icon__arrow:before {
  content: "";
  position: absolute;
  right: 0;
  background: #fff;
  width: 1px;
  height: 10px;
  display: inline-block;
}

.universal-link .icon__arrow:after {
  -webkit-transform: rotate(45deg) translate(-2px, 1px);
          transform: rotate(45deg) translate(-2px, 1px);
}

.universal-link .icon__arrow::before {
  -webkit-transform: rotate(-45deg) translate(4px, -7px);
          transform: rotate(-45deg) translate(4px, -7px);
}

.more {
  display: inline-block;
  position: relative;
  margin: 0px 0px 40px 0px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4f4f4f;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.more:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  bottom: 0;
  left: -40px;
  width: 0%;
  height: 1px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 1024px) {
  .more:hover {
    color: #fff;
  }
  .more:hover:after {
    left: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .topbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  padding: 40px 0px 0px 20px;
}

.breadcrumbs li:not(:last-child):after {
  content: "—";
  color: #4f4f4f;
  display: inline-block;
  margin: 0px 5px 0 0;
}

.breadcrumbs__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4f4f4f;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 1024px) {
  .breadcrumbs__link:hover {
    color: #fff;
  }
}

@media (max-width: 1365px) {
  .breadcrumbs {
    padding: 20px 0px 0px 20px;
  }
}

@media (max-width: 767px) {
  .breadcrumbs {
    padding: 10px 0px 0px 0px;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* .fancybox-navigation .fancybox-button {
	width: 126px;
	height: 90px;
	div {
		display: none;
	}
}
.fancybox-navigation .fancybox-button--arrow_left,
.fancybox-navigation .fancybox-button--arrow_right {
	padding: 0;
}
.fancybox-button--arrow_left {
	background: url("../img/home/partners/arrow-left.png") center no-repeat, #141414;
	&:disabled {
		background: url("../img/home/partners/arrow-left.png") center no-repeat, #070707;
	}
}
.fancybox-button--arrow_right {
	background: url("../img/home/partners/arrow-right.png") center no-repeat, #141414;
	&:disabled {
		background: url("../img/home/partners/arrow-right.png") center no-repeat, #070707;
	}
}
.fancybox-bg {
	background: rgba(7, 7, 7, 0.8);
} */
.splash-main {
  position: relative;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background: url("../img/spalsh/splash-bg.jpg") left center/cover no-repeat;
}

.splash-main::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.splash-main__video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-height: 1080px) {
  .splash-main__video {
    display: none;
  }
}

.splash-main__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

.splash-main__logo {
  width: 200px;
  margin: 140px 0 40px 0;
}

.splash-main__logo img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .splash-main__logo {
    margin: 50px 0 20px 0;
  }
}

@media (max-width: 767px) {
  .splash-main__logo {
    width: 160px;
  }
}

@media (max-width: 360px) {
  .splash-main__logo {
    width: 140px;
  }
}

.splash-main__title {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 60px 0;
}

.splash-main__title span {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 80px;
  letter-spacing: -0.03em;
  display: inline-block;
  margin: 20px 0 0 0;
}

@media (max-width: 767px) {
  .splash-main__title {
    margin: 0 0 50px 0;
  }
  .splash-main__title span {
    font-size: 50px;
  }
}

@media (max-width: 360px) {
  .splash-main__title {
    font-size: 14px;
  }
  .splash-main__title span {
    font-size: 30px;
  }
}

.splash-main__enter {
  margin: 0 0 100px 0;
}

@media (max-width: 767px) {
  .splash-main__enter {
    margin: 0 0 50px 0;
  }
}

.splash-main__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splash-main__link:hover img {
  -webkit-transform: translate(10px, -50%);
          transform: translate(10px, -50%);
}

.splash-main__icon {
  position: relative;
  width: 63px;
  margin: 0 23px 0 0;
}

.splash-main__icon:after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.splash-main__icon img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (max-width: 767px) {
  .splash-main__icon {
    width: 40px;
  }
  .splash-main__icon:after {
    width: 40px;
    height: 40px;
  }
}

.splash-main__text {
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.splash-main__text:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background: #fff;
  width: 98%;
  height: 1px;
}

@media (max-width: 360px) {
  .splash-main__text {
    font-size: 14px;
  }
}

.splash-main__form {
  margin: 0 0px 100px 0;
}

@media (max-width: 992px) {
  .splash-main__form {
    margin: 0 0 50px 0;
  }
}

.splash-main__label {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (max-width: 360px) {
  .splash-main__label {
    font-size: 14px;
    text-transform: none;
  }
}

.splash-main__checkbox {
  display: none;
}

.splash-main__checkbox:checked + .splash-main__box::after {
  opacity: 1;
  visibility: visible;
}

.splash-main__box {
  position: relative;
  border: 1px solid #ffffff;
  display: inline-block;
  width: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  margin: 0 22px 0 0;
}

.splash-main__box::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 20px;
  background: url("../img/spalsh/tick.png") center no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .splash-main__box {
    width: 20px;
    height: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
  }
  .splash-main__box::after {
    -webkit-transform: translate(-12px, -16px);
            transform: translate(-12px, -16px);
  }
}

.splash-container {
  margin: 0 auto;
  max-width: 1660px;
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: #070707;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
  border-bottom: 1px solid #4f4f4f;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 992px) {
  .header__body {
    height: 80px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  z-index: 3;
}

.header__logo span {
  position: absolute;
  bottom: -35px;
  left: 0px;
  height: 3px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo.shrink {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
}

.header__logo.shrink .header__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.header__logo.shrink span {
  bottom: -18px;
}

.header__logo.shrink .header__descriptor {
  font-size: 14px;
}

.header__logo.shrink .header__descriptor p:first-child {
  margin: 0 0 0 12px;
}

.header__logo.shrink .header__descriptor p:last-child {
  font-size: 26px;
}

@media (max-width: 992px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
  }
  .header__logo span {
    bottom: -18px;
  }
}

@media (max-width: 360px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }
}

.header__image {
  margin: 0 10px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__image img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .header__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}

.header__descriptor {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.header__descriptor p {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__descriptor p:first-child {
  margin: 0 0 0 14px;
}

.header__descriptor p:last-child {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .header__descriptor {
    font-size: 14px;
  }
  .header__descriptor p:first-child {
    margin: 0 0 0 12px;
  }
  .header__descriptor p:last-child {
    font-size: 26px;
  }
}

@media (max-width: 360px) {
  .header__descriptor p:first-child {
    margin: 0 0 4px 0;
  }
  .header__descriptor p:last-child {
    font-size: 16px;
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 20px 0 160px;
}

@media (max-width: 1365px) {
  .header__menu {
    margin: 0 20px 0 50px;
  }
}

@media (max-width: 1200px) {
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (max-width: 992px) {
  .header__menu {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 3;
}

.header__list li {
  position: relative;
}

.header__list li .underline {
  position: absolute;
  bottom: -50px;
  left: -70px;
  height: 3px;
  width: 0%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__list li .underline.lift {
  bottom: -20px;
}

.header__list li a:hover + .underline {
  width: 100%;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.header__list li:not(:first-child) {
  margin: 0 0 0 20px;
}

@media (max-width: 1200px) {
  .header__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__link {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

.header__visually-impaired {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 20px 0 0;
  z-index: 3;
}

.header__visually-impaired p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  margin: 0 10px 0 0;
}

.header__visually-impaired img {
  max-width: 100%;
}

.header__visually-impaired span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
}

.header__visually-impaired span:last-child {
  position: absolute;
  bottom: -46px;
  left: 0px;
  height: 3px;
  width: 0%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__visually-impaired span:last-child.lift {
  bottom: -16px;
}

.header__visually-impaired:hover span:last-child {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 190px;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1365px) {
  .header__visually-impaired {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (max-width: 1200px) {
  .header__visually-impaired span {
    display: none;
  }
}

@media (max-width: 992px) {
  .header__visually-impaired {
    margin: 0 0 0 auto;
  }
  .header__visually-impaired p + span {
    display: block;
  }
}

@media (max-width: 767px) {
  .header__visually-impaired {
    margin: 0 20px 0 auto;
  }
  .header__visually-impaired p + span {
    display: none;
  }
}

@media (max-width: 360px) {
  .header__visually-impaired {
    margin: 0 10px 0 auto;
  }
}

.header__burger {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 1024px) {
  .header__burger:hover span:first-child {
    -webkit-transform: rotate(90deg) translate(0, -14px);
            transform: rotate(90deg) translate(0, -14px);
  }
  .header__burger:hover span:last-child {
    -webkit-transform: rotate(90deg) translate(0, 14px);
            transform: rotate(90deg) translate(0, 14px);
  }
  .header__burger:hover .header__burger-menu {
    opacity: 0;
    visibility: hidden;
  }
}

.header__burger.active .header__burger-menu {
  opacity: 0;
  visibility: hidden;
}

.header__burger.active .header__burger-close {
  -webkit-transform: translate(0, 12px);
          transform: translate(0, 12px);
  opacity: 1;
  visibility: visible;
}

.header__burger.active .header__burger-icon {
  -webkit-transform: translate(0, 12px);
          transform: translate(0, 12px);
  width: 40px;
}

.header__burger.active .header__burger-icon span {
  background: #4f4f4f;
}

.header__burger.active .header__burger-icon span:first-child {
  width: 100%;
  -webkit-transform: rotate(45deg) translate(6px, 7px);
          transform: rotate(45deg) translate(6px, 7px);
}

.header__burger.active .header__burger-icon span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger.active .header__burger-icon span:last-child {
  width: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__burger-icon {
  width: 48px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 8px 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger-icon span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 2px;
  background: #fff;
  display: inline-block;
}

.header__burger-icon span:first-child {
  width: 20px;
}

.header__burger-icon span:nth-child(2) {
  width: 100%;
}

.header__burger-icon span:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 20px;
}

.header__burger-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger-close {
  opacity: 0;
  visibility: hidden;
  color: #4f4f4f;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 3px;
  left: -90px;
}

@media (max-width: 767px) {
  .header__burger-close {
    display: none;
  }
}

.menu-board {
  position: fixed;
  top: -100%;
  right: -100%;
  width: 94%;
  height: 900px;
  background: #fff;
  z-index: 4;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 1365px) {
  .menu-board {
    height: 100%;
    width: 100%;
  }
}

.menu-board.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
}

.menu-board__container {
  max-width: 1500px;
  padding: 0 10px;
  margin: 0 auto;
}

.menu-board__form {
  position: relative;
  border-bottom: 1px solid #4f4f4f;
}

.menu-board__input {
  height: 140px;
  width: 100%;
  font-size: 24px;
  padding: 0 200px 0 66px;
}

.menu-board__input::-webkit-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4f4f4f;
}

.menu-board__input:-ms-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4f4f4f;
}

.menu-board__input::-ms-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4f4f4f;
}

.menu-board__input::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4f4f4f;
}

@media (max-width: 992px) {
  .menu-board__input {
    height: 80px;
  }
}

@media (max-width: 767px) {
  .menu-board__input {
    padding: 0 80px 0 50px;
    font-size: 16px;
  }
  .menu-board__input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .menu-board__input:-ms-input-placeholder {
    font-size: 16px;
  }
  .menu-board__input::-ms-input-placeholder {
    font-size: 16px;
  }
  .menu-board__input::placeholder {
    font-size: 16px;
  }
}

.menu-board__button {
  background: url("../img/header/search.svg") center no-repeat;
  width: 36px;
  height: 31px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.menu-board__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0;
}

@media (max-width: 992px) {
  .menu-board__body {
    margin: 30px 0;
  }
}

.menu-board__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 -20px;
}

.menu-board__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 50px 20px;
}

@media (max-width: 992px) {
  .menu-board__column {
    margin: 0 20px 40px 20px;
  }
}

@media (max-width: 767px) {
  .menu-board__column {
    margin: 0 20px 20px 20px;
  }
}

.menu-board__big-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.menu-board__item:not(:last-child) {
  margin: 0 0 50px 0;
}

@media (max-width: 992px) {
  .menu-board__item:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

.menu-board__heading {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #070707;
  position: relative;
}

@media (min-width: 1024px) {
  .menu-board__heading::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -70px;
    background: #070707;
    width: 0%;
    height: 3px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu-board__heading:hover::before {
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}

.menu-board__list {
  margin: 20px 0 0 0;
}

.menu-board__list li:not(:last-child) {
  margin: 0 0 10px 0;
}

@media (max-width: 767px) {
  .menu-board__list {
    margin: 6px 0 0 0;
  }
}

.menu-board__link {
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4f4f4f;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

@media (min-width: 1024px) {
  .menu-board__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  .menu-board__link {
    font-size: 14px;
    line-height: 20px;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 180px;
  border-bottom: 1px solid #4f4f4f;
  border-top: 1px solid #4f4f4f;
  margin: 0px 0px 60px 0px;
  padding: 30px 0;
}

@media (max-width: 767px) {
  .footer__top {
    margin: 0px 0px 40px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__subtitle {
  margin: 0px 20px 0px 0px;
}

@media (max-width: 767px) {
  .footer__subtitle {
    margin: 0px 0px 20px 0px;
    text-align: center;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials-item {
  border-radius: 50%;
  background: #141414;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 0px 20px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__socials-item img {
  max-width: 24px;
}

@media (min-width: 1024px) {
  .footer__socials-item:hover {
    border: 1px solid #4f4f4f;
  }
}

@media (max-width: 767px) {
  .footer__socials-item {
    height: 50px;
    width: 50px;
    margin: 0px 0px 0px 10px;
  }
  .footer__socials-item:first-child {
    margin: 0;
  }
}

.footer__middle {
  margin: 0px 0px 60px 0px;
}

@media (max-width: 992px) {
  .footer__middle {
    margin: 0px 0px 20px 0px;
  }
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
}

@media (max-width: 1600px) {
  .footer__items {
    height: 800px;
  }
}

@media (max-width: 1200px) {
  .footer__items {
    height: 1100px;
  }
}

@media (max-width: 992px) {
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.footer__item {
  margin: 0px 40px 26px 0px;
}

@media (max-width: 992px) {
  .footer__item {
    margin: 0px 0px 16px 0px;
  }
}

.footer__heading {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  margin: 0px 0px 16px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

@media (min-width: 1024px) {
  .footer__heading::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -70px;
    background: #fff;
    width: 0%;
    height: 3px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .footer__heading:hover::before {
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 992px) {
  .footer__heading {
    margin: 0px 0px 10px 0px;
  }
}

.footer__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4f4f4f;
  display: inline-block;
  margin: 0px 0px 10px 0px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__column-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__column-map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 390px;
          flex: 0 0 390px;
}

.footer__map {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.footer__map iframe {
  width: 100%;
  height: 255px;
}

.footer__see {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

.footer__map-bar {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #070707;
  background: #fff;
  height: 40px;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.footer__bottom {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #4f4f4f;
  padding: 20px 0;
}

@media (max-width: 767px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__text {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #4f4f4f;
  margin: 0px 20px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 767px) {
  .footer__text {
    margin: 0px 0px 10px 0px;
    text-align: center;
  }
}

.footer__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 360px) {
  .footer__dev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__dev-info {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #4f4f4f;
}

.footer__dev-info a {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #4f4f4f;
  text-decoration: underline;
}

.footer__dev-info a:hover {
  text-decoration: none;
}

.footer__dev-logo {
  width: 100px;
  margin: 0px 0px 0px 20px;
}

.footer__dev-logo img {
  max-width: 100%;
}

@media (max-width: 360px) {
  .footer__dev-logo {
    margin: 10px 0px 0px 0px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainscreen {
  padding: 215px 0 160px 0;
  background: url("../img/home/mainscreen/bg.png") bottom right no-repeat;
}

@media (max-width: 992px) {
  .mainscreen {
    padding: 120px 0 80px 0;
  }
}

.mainscreen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .mainscreen__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainscreen__image {
  margin: 0 20px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 756px;
          flex: 0 0 756px;
}

.mainscreen__image img {
  max-width: 100%;
}

@media (max-width: 1365px) {
  .mainscreen__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 500px;
            flex: 0 0 500px;
  }
}

@media (max-width: 992px) {
  .mainscreen__image {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0 0 20px 0;
  }
}

.mainscreen__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 800px;
          flex: 0 1 800px;
}

@media (max-width: 992px) {
  .mainscreen__info {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.mainscreen__date {
  margin: 0 0 27px 0;
}

@media (max-width: 992px) {
  .mainscreen__date {
    margin: 0 0 15px 0;
  }
}

.mainscreen__title {
  margin: 0 0 27px 0;
}

@media (max-width: 992px) {
  .mainscreen__title {
    margin: 0 0 15px 0;
  }
}

.mainscreen__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 70px 0;
}

@media (max-width: 992px) {
  .mainscreen__text {
    margin: 0 0 15px 0;
  }
}

.partners {
  background: #141414;
  margin: 0 0 140px 0;
}

@media (max-width: 992px) {
  .partners {
    margin: 0 0 70px 0;
  }
}

.partners__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.partners__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__item {
  height: 90px;
  width: 126px;
  background: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  cursor: pointer;
}

.partners__item img {
  max-width: 11px;
}

.partners__item.inactive {
  background: #070707;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
}

@media (max-width: 992px) {
  .partners__item {
    height: 50px;
    width: 80px;
  }
}

@media (max-width: 400px) {
  .partners__item {
    width: 50px;
  }
}

.partners__blocks {
  position: relative;
  padding: 50px 0 50px 20px;
  min-width: 0;
}

.partners__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__block.absolute {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.partners__subtitle {
  margin: 0 20px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
}

@media (max-width: 767px) {
  .partners__subtitle {
    position: absolute;
    top: 65px;
    left: -160px;
    max-width: 140px;
  }
}

@media (max-width: 400px) {
  .partners__subtitle {
    top: 80px;
    left: -100px;
    font-size: 24px;
    line-height: 26px;
  }
}

.partners__slider {
  min-width: 0;
}

.partners__slider .slick-list {
  overflow: hidden;
}

.partners__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.partners__slider-item {
  text-align: right;
  width: 180px;
}

.partners__slider-item img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .partners__slider-item {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .partners__slider-item {
    width: 100px;
  }
}

.last-news {
  margin: 0px 0px 140px 0px;
}

@media (max-width: 767px) {
  .last-news {
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 600px) {
  .last-news {
    margin: 0px 0px 40px 0px;
  }
}

.last-news__body {
  border-bottom: 1px solid #4f4f4f;
}

.last-news__title {
  margin: 0px 0px 78px 0px;
}

@media (max-width: 992px) {
  .last-news__title {
    margin: 0px 0px 40px 0px;
  }
}

.last-news__slider {
  margin: 0px -12px 60px -12px;
  position: relative;
}

@media (max-width: 992px) {
  .last-news__slider {
    margin: 0px -12px 40px -12px;
  }
}

@media (max-width: 500px) {
  .last-news__slider {
    margin: 0px -12px 90px -12px;
  }
}

@media (max-width: 1365px) {
  .last-news__slider .slick-list {
    overflow: hidden;
  }
}

.last-news__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1365px) {
  .last-news__slider .slick-track {
    margin: 0;
  }
}

.last-news__slider .slick-arrow {
  position: absolute;
  top: -110px;
  right: 12px;
  z-index: 10;
  font-size: 0;
  height: 48px;
  width: 48px;
  background: #141414;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 1024px) {
  .last-news__slider .slick-arrow:hover {
    border: 1px solid #4f4f4f;
  }
}

@media (max-width: 992px) {
  .last-news__slider .slick-arrow {
    top: -70px;
  }
}

@media (max-width: 500px) {
  .last-news__slider .slick-arrow {
    top: auto;
    bottom: -50px;
  }
}

.last-news__slider .slick-arrow.slick-prev {
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  background: url("../img/home/last-news/arrow-left.png") center no-repeat, #141414;
}

.last-news__slider .slick-arrow.slick-next {
  background: url("../img/home/last-news/arrow-right.png") center no-repeat, #141414;
}

.last-news__slider .slick-arrow.slick-next.slick-disabled {
  background: url("../img/home/last-news/arrow-right.png") center no-repeat, #070707;
}

.last-news__slider .slick-arrow.slick-prev.slick-disabled {
  background: url("../img/home/last-news/arrow-left.png") center no-repeat, #070707;
}

.last-news__read-more {
  margin: 0px 0px 40px 0px;
}

.ln-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 390px;
  margin: 0px 12px;
}

@media (min-width: 1024px) {
  .ln-item:hover img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .ln-item:hover .ln-item__dark {
    opacity: 0;
    visibility: hidden;
  }
}

.ln-item__image {
  margin: 0px 0px 40px 0px;
  height: 520px;
  overflow: hidden;
  position: relative;
}

.ln-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 992px) {
  .ln-item__image {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .ln-item__image {
    height: 200px;
  }
}

@media (max-width: 360px) {
  .ln-item__image {
    height: 150px;
    margin: 0px 0px 20px 0px;
  }
}

.ln-item__dark {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.ln-item__date {
  margin: 0px 0px 30px 0px;
}

@media (max-width: 360px) {
  .ln-item__date {
    margin: 0px 0px 10px 0px;
  }
}

.ln-item__text {
  margin: 0px 0px 35px 0px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 767px) {
  .ln-item__text {
    font-size: 18px;
    line-height: 24px;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 360px) {
  .ln-item__text {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .ln-item__link .universal-link__more {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
  }
  .ln-item__link:hover .universal-link__more {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 1023px) {
  .ln-item__link .universal-link__more {
    opacity: 1;
    visibility: visible;
  }
}

.media {
  padding: 0px 0px 100px 0px;
}

@media (max-width: 767px) {
  .media {
    padding: 0px 0px 50px 0px;
  }
}

.media__topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 0px 50px 0px;
}

@media (max-width: 600px) {
  .media__topbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 600px) {
  .media__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0px 0px 50px 0px;
  }
}

.media__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media__tab {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4f4f4f;
  padding: 0px 0px 13px 0px;
  margin: 0px 35px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.media__tab span {
  position: absolute;
  top: -20px;
  left: -70%;
  display: block;
  height: 3px;
  width: 0%;
  background: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.media__tab:hover {
  color: #fff;
}

.media__tab.overline {
  color: #fff;
}

.media__tab.overline span {
  left: -15%;
  width: 130%;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1365px) {
  .media__tab {
    padding: 0px 0px 7px 0px;
  }
}

@media (max-width: 600px) {
  .media__tab {
    padding: 0;
  }
}

.media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.media__item {
  overflow: hidden;
  position: relative;
}

.media__item img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.media__item video {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.media__item:nth-of-type(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0px 0px 31% 0px;
}

.media__item:nth-of-type(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0px 0px 31% 0px;
}

.media__item:nth-of-type(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0px 0px 31% 0px;
}

.media__item:nth-of-type(4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0px 0px 16.666% 0px;
}

.media__item:nth-of-type(4) .media__link {
  opacity: 1;
  visibility: visible;
}

.media__item:nth-of-type(4) .media__hover {
  display: none;
}

.media__item:nth-of-type(5) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666%;
          flex: 0 0 16.666%;
  padding: 0px 0px 16.666% 0px;
}

.media__item:nth-of-type(6) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666%;
          flex: 0 0 16.666%;
  padding: 0px 0px 16.666% 0px;
}

.media__item:nth-of-type(7) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666%;
          flex: 0 0 16.666%;
  padding: 0px 0px 16.666% 0px;
}

.media__item:nth-of-type(8) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0px 0px 16.666% 0px;
}

.media__item:nth-of-type(9) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0px 0px 16.666% 0px;
}

.media__item:nth-of-type(10) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0px 0px 16.666% 0px;
}

@media (min-width: 1024px) {
  .media__item:hover img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .media__item:hover video {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .media__item:hover .media__hover {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .media__item:nth-of-type(n) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    padding: 0px 0px 33.333% 0px;
  }
  .media__item:nth-of-type(4) .media__link {
    display: none;
  }
  .media__item:nth-of-type(10) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .media__item:nth-of-type(10) .media__link {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 360px) {
  .media__item:nth-of-type(n) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0px 0px 50% 0px;
  }
  .media__item:nth-last-of-type(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0px 0px 50% 0px;
  }
  .media__item:nth-last-of-type(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0px 0px 50% 0px;
  }
}

.media__hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/home/media/scale.png") center no-repeat, rgba(20, 20, 20, 0.6);
  opacity: 0;
  visibility: hidden;
}

.media__link {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #141414;
}

.media__link .universal-link {
  height: 80px;
  width: 300px;
}

@media (max-width: 600px) {
  .media__link .universal-link {
    width: 213px;
  }
}

.media #media__videos .media__hover {
  background: url("../img/home/media/play.png") center/60px 60px no-repeat, rgba(20, 20, 20, 0.6);
}

@media (max-width: 600px) {
  .media #media__videos .universal-link {
    width: 225px;
  }
}

.news {
  padding: 215px 0px 20px 0px;
}

@media (max-width: 992px) {
  .news {
    padding: 140px 0 20px 0;
  }
}

@media (max-width: 360px) {
  .news {
    padding: 120px 0 20px 0;
  }
}

.news__canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px 80px -12px;
}

@media (max-width: 767px) {
  .news__canvas {
    margin: 0 -12px 20px -12px;
  }
}

.news__item {
  margin: 80px 12px 0px 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
  position: relative;
}

.news__item .ln-item {
  margin: 0;
}

@media (max-width: 1365px) {
  .news__item .ln-item__image {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .news__item .ln-item__image {
    height: 200px;
  }
}

.news__item:nth-of-type(1), .news__item:nth-of-type(6), .news__item:nth-of-type(7) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
}

@media (max-width: 1365px) {
  .news__item {
    margin: 80px 12px 0px 12px;
  }
  .news__item:nth-of-type(n) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 31%;
            flex: 1 1 31%;
  }
}

@media (max-width: 767px) {
  .news__item {
    margin: 20px 12px;
  }
}

.article {
  padding: 215px 0px 0px 0px;
}

@media (max-width: 992px) {
  .article {
    padding: 140px 0 0px 0;
  }
}

@media (max-width: 360px) {
  .article {
    padding: 120px 0 0px 0;
  }
}

.article__body .last-news {
  margin: 0 0 10px 0;
}

.article__body .last-news__body {
  border-bottom: none;
}

.article__topbar {
  margin: 0px 0px 60px 0px;
}

@media (max-width: 992px) {
  .article__topbar {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 767px) {
  .article__topbar {
    margin: 0px 0px 20px 0px;
  }
}

.article__info {
  padding: 0px 0px 100px 0px;
  margin: 0px 0px 100px 0px;
  border-bottom: 1px solid #4f4f4f;
}

@media (max-width: 992px) {
  .article__info {
    padding: 0px 0px 50px 0px;
    margin: 0px 0px 50px 0px;
  }
}

.article__image {
  float: left;
  max-width: 50%;
  margin: 0px 24px 8px 0px;
}

.article__image img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .article__image {
    float: none;
    max-width: 100%;
    margin: 0px 0px 24px 0px;
  }
}

.article__text h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  margin: 30px 0px;
}

.article__text p,
.article__text li {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  margin: 0px 0px 20px 0px;
}

.article__text ul li:first-child {
  font-weight: 700;
}

.article__text .article__footnote {
  font-weight: 300;
  font-style: italic;
  margin: 80px 0px 0px 0px;
}

@media (max-width: 992px) {
  .article__text .article__footnote {
    margin: 40px 0px 0px 0px;
  }
}

.teams {
  padding: 215px 0px 0px 0px;
}

@media (max-width: 992px) {
  .teams {
    padding: 140px 0 0px 0;
  }
}

@media (max-width: 360px) {
  .teams {
    padding: 120px 0 0px 0;
  }
}

.teams__topbar {
  margin: 0px 0px 40px 0px;
}

@media (max-width: 992px) {
  .teams__topbar {
    margin: 0px 0px 20px 0px;
  }
}

.teams__group {
  padding: 0px 0px 10px 0px;
}

.teams__headline {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teams__headline span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: 1px dashed #4f4f4f;
  position: relative;
  left: 0;
  top: -21px;
  margin: 0px 0px 0px 10px;
}

@media (max-width: 1365px) {
  .teams__headline {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 992px) {
  .teams__headline {
    margin: 0px 0px 20px 0px;
  }
}

.teams__list {
  margin: 0px -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1660px) {
  .teams__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.teams__item {
  margin: 0px 12px 80px 12px;
  max-width: 389px;
  min-width: 280px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .teams__item {
    margin: 0px 12px 40px 12px;
  }
}

.teams__image {
  padding: 0 0 133% 0;
  margin: 0px 0px 32px 0px;
  overflow: hidden;
  position: relative;
}

.teams__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 992px) {
  .teams__image {
    margin: 0px 0px 20px 0px;
  }
}

.teams__name {
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;
  margin: 0px 0px 18px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 992px) {
  .teams__name {
    margin: 0px 0px 10px 0px;
    line-height: 36px;
  }
}

.teams__position {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4f4f4f;
}
