* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

body {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 15px;
}

.splash-main {
  position: relative;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background: url("../img/spalsh/splash-bg.jpg") left center/cover no-repeat;
}

.splash-main::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.splash-main__video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-height: 1080px) {
  .splash-main__video {
    display: none;
  }
}

.splash-main__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

.splash-main__logo {
  width: 200px;
  margin: 140px 0 40px 0;
}

.splash-main__logo img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .splash-main__logo {
    margin: 50px 0 20px 0;
  }
}

@media (max-width: 767px) {
  .splash-main__logo {
    width: 160px;
  }
}

@media (max-width: 360px) {
  .splash-main__logo {
    width: 140px;
  }
}

.splash-main__title {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 60px 0;
}

.splash-main__title span {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 80px;
  letter-spacing: -0.03em;
  display: inline-block;
  margin: 20px 0 0 0;
}

@media (max-width: 767px) {
  .splash-main__title {
    margin: 0 0 50px 0;
  }
  .splash-main__title span {
    font-size: 50px;
  }
}

@media (max-width: 360px) {
  .splash-main__title {
    font-size: 14px;
  }
  .splash-main__title span {
    font-size: 30px;
  }
}

.splash-main__enter {
  margin: 0 0 100px 0;
}

@media (max-width: 767px) {
  .splash-main__enter {
    margin: 0 0 50px 0;
  }
}

.splash-main__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splash-main__link:hover img {
  -webkit-transform: translate(10px, -50%);
          transform: translate(10px, -50%);
}

.splash-main__icon {
  position: relative;
  width: 63px;
  margin: 0 23px 0 0;
}

.splash-main__icon:after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.splash-main__icon img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (max-width: 767px) {
  .splash-main__icon {
    width: 40px;
  }
  .splash-main__icon:after {
    width: 40px;
    height: 40px;
  }
}

.splash-main__text {
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.splash-main__text:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background: #fff;
  width: 98%;
  height: 1px;
}

@media (max-width: 360px) {
  .splash-main__text {
    font-size: 14px;
  }
}

.splash-main__form {
  margin: 0 0px 100px 0;
}

@media (max-width: 992px) {
  .splash-main__form {
    margin: 0 0 50px 0;
  }
}

.splash-main__label {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (max-width: 360px) {
  .splash-main__label {
    font-size: 14px;
    text-transform: none;
  }
}

.splash-main__checkbox {
  display: none;
}

.splash-main__checkbox:checked + .splash-main__box::after {
  opacity: 1;
  visibility: visible;
}

.splash-main__box {
  position: relative;
  border: 1px solid #ffffff;
  display: inline-block;
  width: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  margin: 0 22px 0 0;
}

.splash-main__box::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 20px;
  background: url("../img/spalsh/tick.png") center no-repeat;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .splash-main__box {
    width: 20px;
    height: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
  }
  .splash-main__box::after {
    -webkit-transform: translate(-12px, -16px);
            transform: translate(-12px, -16px);
  }
}

.splash-container {
  margin: 0 auto;
  max-width: 1660px;
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
}
