.custom-select-container {
	display: inline-block;
	position: relative;
}

.custom-select-value {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 190px;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease 0s;
	color: #6a6a6a;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-transform: capitalize;
	&:after {
		content: "";
		display: inline-block;
		width: 16px;
		height: 9px;
		background: url("../img/schedule/arrow.svg") center no-repeat;
		transition: all 0.3s ease 0s;
		margin: 0px 0px 0px 10px;
	}
	&.spin {
		&:after {
			content: "";
			transform: rotate(-180deg);
		}
	}
	@media (max-width:500px) {
		width: 160px;
	}
}

.custom-select-options {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	padding: 0;
	margin: 0;
	z-index: 1;
	width: 100%;
	border-top: none;
	max-height: 360px;
	overflow-y: auto;
	background: #141414;
	transition: all 0.3s ease 0s;
	padding: 20px 0;
	&.show {
		opacity: 1;
		visibility: visible;
	}
	@media (max-width:767px) {
		max-height: 200px;
	}
}

.custom-select-option {
	padding: 5px 30px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: #6a6a6a;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-transform: capitalize;
	&.selected {
		background-color: rgba(0, 0, 0, 0.5);
	}
	&:hover {
		color: #fff;
	}
	@media (max-width:500px) {
		padding: 5px 15px;
	}
}
