@import "_nullstyle";

//general

body {
	//font-family: 'Lato', sans-serif;
	font-family: "Raleway", sans-serif;
	//font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
	background-color: #000;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
	max-width: 1660px;
	margin: 0 auto;
	padding: 0 15px;
}

//splash-main

.splash-main {
	position: relative;
	z-index: 0;
	height: 100vh;
	width: 100vw;
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
	background: url("../img/spalsh/splash-bg.jpg") left center/cover no-repeat;
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&__video {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@media (min-height: 1080px) {
			display: none;
		}
	}

	&__body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 15px;
	}

	&__logo {
		width: 200px;
		margin: 140px 0 40px 0;
		img {
			max-width: 100%;
		}
		@media (max-width: 992px) {
			margin: 50px 0 20px 0;
		}
		@media (max-width: 767px) {
			width: 160px;
		}
		@media (max-width: 360px) {
			width: 140px;
		}
	}

	&__title {
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 60px 0;
		span {
			font-family: "Roboto Condensed";
			font-weight: bold;
			font-size: 80px;
			letter-spacing: -0.03em;
			display: inline-block;
			margin: 20px 0 0 0;
		}
		@media (max-width: 767px) {
			margin: 0 0 50px 0;
			span {
				font-size: 50px;
			}
		}
		@media (max-width: 360px) {
			font-size: 14px;
			span {
				font-size: 30px;
			}
		}
	}

	&__enter {
		margin: 0 0 100px 0;
		@media (max-width: 767px) {
			margin: 0 0 50px 0;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			img {
				transform: translate(10px, -50%);
			}
		}
	}

	&__icon {
		position: relative;
		width: 63px;
		margin: 0 23px 0 0;
		&:after {
			content: "";
			display: inline-block;
			border: 1px solid #fff;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			transition: all 0.3s ease 0s;
		}
		img {
			max-width: 100%;
			position: absolute;
			top: 50%;
			left: -50%;
			transform: translate(0, -50%);
			transition: transform 0.3s ease 0s;
		}
		@media (max-width: 767px) {
			width: 40px;
			&:after {
				width: 40px;
				height: 40px;
			}
		}
	}

	&__text {
		font-size: 18px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #fff;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			background: #fff;
			width: 98%;
			height: 1px;
		}
		@media (max-width: 360px) {
			font-size: 14px;
		}
	}

	&__form {
		margin: 0 0px 100px 0;
		@media (max-width: 992px) {
			margin: 0 0 50px 0;
		}
	}

	&__label {
		font-family: "Lato", sans-serif;
		font-weight: 300;
		font-size: 16px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		@media (max-width: 360px) {
			font-size: 14px;
			text-transform: none;
		}
	}

	&__checkbox {
		display: none;
		&:checked + .splash-main__box::after {
			opacity: 1;
			visibility: visible;
		}
	}
	&__box {
		position: relative;
		border: 1px solid #ffffff;
		display: inline-block;
		width: 40px;
		flex: 0 0 40px;
		height: 40px;
		margin: 0 22px 0 0;
		&::after {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 20px;
			background: url("../img/spalsh/tick.png") center no-repeat;
			transform: translate(-50%, -50%);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: 767px) {
			width: 20px;
			height: 20px;
			flex: 0 0 20px;
			&::after {
				transform: translate(-12px, -16px);
			}
		}
	}
}
.splash-container {
	margin: 0 auto;
	max-width: 1660px;
	position: relative;
	z-index: 4;
	width: 100%;
	height: 100%;
}

//header

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #070707;
	}
	&__body {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 140px;
		border-bottom: 1px solid #4f4f4f;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;
		position: relative;
		span {
			position: absolute;
			bottom: -35px;
			left: 0px;
			height: 3px;
			width: 100%;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
	}

	&__image {
		margin: 0 10px 0 0;
		flex: 0 0 80px;
		img {
			max-width: 100%;
		}
	}

	&__descriptor {
		font-size: 16px;
		text-transform: uppercase;
		color: #ffffff;
		p:first-child {
			margin: 0 0 0 14px;
		}
		p:last-child {
			font-family: "Roboto Condensed", sans-serif;
			font-weight: bold;
			font-size: 36px;
			letter-spacing: -0.03em;
			text-transform: uppercase;
		}
	}

	&__menu {
		flex: 1 1 auto;
		margin: 0 20px 0 160px;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			position: relative;
			.underline {
				position: absolute;
				bottom: -50px;
				left: -70px;
				height: 3px;
				width: 0%;
				background-color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease 0s;
			}
			a:hover + .underline {
				width: 100%;
				left: 0;
				opacity: 1;
				visibility: visible;
			}
		}
		li:not(:first-child) {
			margin: 0 0 0 20px;
		}
	}

	&__link {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
		font-size: 16px;
		line-height: 40px;
		text-transform: uppercase;
		color: #ffffff;
	}

	&__visually-impaired {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 13px;
		line-height: 24px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		cursor: pointer;
		position: relative;
		flex: 1 1 auto;
		margin: 0 20px 0 0;
		p {
			flex: 0 0 40px;
			margin: 0 10px 0 0;
		}
		img {
			max-width: 100%;
		}
		span {
			flex: 0 0 140px;
			&:last-child {
				position: absolute;
				bottom: -46px;
				left: 0px;
				height: 3px;
				width: 0%;
				background-color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease 0s;
			}
		}
		&:hover {
			span:last-child {
				left: 50%;
				transform: translate(-50%, 0);
				width: 190px;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__burger {
		font-weight: bold;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.18em;
		text-transform: uppercase;
		cursor: pointer;
	}

	&__burger-icon {
		width: 48px;
		height: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 0 8px 0;
		span {
			height: 2px;
			background: #fff;
			display: inline-block;
			&:first-child {
				width: 20px;
			}
			&:nth-child(2) {
				width: 100%;
			}
			&:last-child {
				align-self: flex-end;
				width: 20px;
			}
		}
	}

	&__burger-menu {
	}

	&__burger-close {
		display: none;
		color: #4f4f4f;
	}

	&__menu-board {
	}
}

.menu-board {
	display: none;
	&__form {
	}

	&__input {
	}

	&__button {
	}

	&__body {
	}

	&__item {
	}

	&__heading {
	}

	&__list {
	}

	&__link {
	}

	&__space {
	}
}
