@import "_nullstyle";

// general

body {
	font-family: "Raleway", sans-serif;
	color: #fff;
	background: #070707;
	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
	max-width: 1660px;
	margin: 0 auto;
	padding: 0 15px;
}
.subtitle {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 300;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	span {
		font-weight: 700;
	}
}

// .splash-main

.splash-main {
	position: relative;
	z-index: 0;
	height: 100vh;
	width: 100vw;
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
	background: url("../img/spalsh/splash-bg.jpg") left center/cover no-repeat;
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&__video {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@media (min-height: 1080px) {
			display: none;
		}
	}

	&__body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 15px;
	}

	&__logo {
		width: 200px;
		margin: 140px 0 40px 0;
		img {
			max-width: 100%;
		}
		@media (max-width: 992px) {
			margin: 50px 0 20px 0;
		}
		@media (max-width: 767px) {
			width: 160px;
		}
		@media (max-width: 360px) {
			width: 140px;
		}
	}

	&__title {
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 60px 0;
		span {
			font-family: "Roboto Condensed";
			font-weight: bold;
			font-size: 80px;
			letter-spacing: -0.03em;
			display: inline-block;
			margin: 20px 0 0 0;
		}
		@media (max-width: 767px) {
			margin: 0 0 50px 0;
			span {
				font-size: 50px;
			}
		}
		@media (max-width: 360px) {
			font-size: 14px;
			span {
				font-size: 30px;
			}
		}
	}

	&__enter {
		margin: 0 0 100px 0;
		@media (max-width: 767px) {
			margin: 0 0 50px 0;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			img {
				transform: translate(10px, -50%);
			}
		}
	}

	&__icon {
		position: relative;
		width: 63px;
		margin: 0 23px 0 0;
		&:after {
			content: "";
			display: inline-block;
			border: 1px solid #fff;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			transition: all 0.3s ease 0s;
		}
		img {
			max-width: 100%;
			position: absolute;
			top: 50%;
			left: -50%;
			transform: translate(0, -50%);
			transition: transform 0.3s ease 0s;
		}
		@media (max-width: 767px) {
			width: 40px;
			&:after {
				width: 40px;
				height: 40px;
			}
		}
	}

	&__text {
		font-size: 18px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #fff;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			background: #fff;
			width: 98%;
			height: 1px;
		}
		@media (max-width: 360px) {
			font-size: 14px;
		}
	}

	&__form {
		margin: 0 0px 100px 0;
		@media (max-width: 992px) {
			margin: 0 0 50px 0;
		}
	}

	&__label {
		font-family: "Lato", sans-serif;
		font-weight: 300;
		font-size: 16px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		@media (max-width: 360px) {
			font-size: 14px;
			text-transform: none;
		}
	}

	&__checkbox {
		display: none;
		&:checked + .splash-main__box::after {
			opacity: 1;
			visibility: visible;
		}
	}
	&__box {
		position: relative;
		border: 1px solid #ffffff;
		display: inline-block;
		width: 40px;
		flex: 0 0 40px;
		height: 40px;
		margin: 0 22px 0 0;
		&::after {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 20px;
			background: url("../img/spalsh/tick.png") center no-repeat;
			transform: translate(-50%, -50%);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: 767px) {
			width: 20px;
			height: 20px;
			flex: 0 0 20px;
			&::after {
				transform: translate(-12px, -16px);
			}
		}
	}
}
.splash-container {
	margin: 0 auto;
	max-width: 1660px;
	position: relative;
	z-index: 4;
	width: 100%;
	height: 100%;
}

// .header

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #070707;
		z-index: 2;
	}
	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 140px;
		border-bottom: 1px solid #4f4f4f;
		transition: all 0.3s ease 0s;
		@media (max-width: 992px) {
			height: 80px;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;
		position: relative;
		flex: 0 0 252px;
		z-index: 3;
		span {
			position: absolute;
			bottom: -35px;
			left: 0px;
			height: 3px;
			width: 100%;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: 992px) {
			flex: 0 0 180px;
			span {
				bottom: -18px;
			}
		}
		@media (max-width: 360px) {
			flex: 0 0 150px;
		}
	}

	&__image {
		margin: 0 10px 0 0;
		flex: 0 0 80px;
		img {
			max-width: 100%;
		}
		@media (max-width: 992px) {
			flex: 0 0 50px;
		}
	}

	&__descriptor {
		font-size: 16px;
		text-transform: uppercase;
		color: #ffffff;
		p:first-child {
			margin: 0 0 0 14px;
		}
		p:last-child {
			font-family: "Roboto Condensed", sans-serif;
			font-weight: bold;
			font-size: 36px;
			letter-spacing: -0.03em;
			text-transform: uppercase;
		}
		@media (max-width: 992px) {
			font-size: 14px;
			p:first-child {
				margin: 0 0 0 12px;
			}
			p:last-child {
				font-size: 26px;
			}
		}
		@media (max-width: 360px) {
			p:first-child {
				margin: 0 0 4px 0;
			}
			p:last-child {
				font-size: 16px;
			}
		}
	}

	&__menu {
		flex: 1 1 auto;
		margin: 0 20px 0 160px;
		@media (max-width: 1365px) {
			margin: 0 20px 0 50px;
		}
		@media (max-width: 1200px) {
			flex: none;
		}
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 3;
		li {
			position: relative;
			.underline {
				position: absolute;
				bottom: -50px;
				left: -70px;
				height: 3px;
				width: 0%;
				background-color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease 0s;
			}
			a:hover + .underline {
				width: 100%;
				left: 0;
				opacity: 1;
				visibility: visible;
			}
		}
		li:not(:first-child) {
			margin: 0 0 0 20px;
		}
		@media (max-width: 1200px) {
			justify-content: flex-end;
		}
	}

	&__link {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
		font-size: 16px;
		line-height: 40px;
		text-transform: uppercase;
		color: #ffffff;
	}

	&__visually-impaired {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-size: 13px;
		line-height: 24px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		cursor: pointer;
		position: relative;
		flex: 1 1 auto;
		margin: 0 20px 0 0;
		z-index: 3;
		p {
			flex: 0 0 40px;
			margin: 0 10px 0 0;
		}
		img {
			max-width: 100%;
		}
		span {
			flex: 0 0 140px;
			&:last-child {
				position: absolute;
				bottom: -46px;
				left: 0px;
				height: 3px;
				width: 0%;
				background-color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease 0s;
			}
		}
		&:hover {
			span:last-child {
				left: 50%;
				transform: translate(-50%, 0);
				width: 190px;
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: 1365px) {
			flex: none;
		}
		@media (max-width: 1200px) {
			span {
				display: none;
			}
		}
		@media (max-width: 992px) {
			margin: 0 0 0 auto;
			p + span {
				display: block;
			}
		}
		@media (max-width: 767px) {
			margin: 0 20px 0 auto;
			p + span {
				display: none;
			}
		}
		@media (max-width: 360px) {
			margin: 0 10px 0 auto;
		}
	}

	&__burger {
		font-weight: bold;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.18em;
		text-transform: uppercase;
		cursor: pointer;
		position: relative;
		z-index: 5;
		transition: all 0.3s ease 0s;
		@media (min-width: 1024px) {
			&:hover {
				span {
					&:first-child {
						transform: rotate(90deg) translate(0, -14px);
					}
					&:last-child {
						transform: rotate(90deg) translate(0, 14px);
					}
				}
				.header__burger-menu {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		&.active {
			.header__burger-icon {
				transform: translate(0, 12px);
				span {
					background: #4f4f4f;
				}
			}
			.header__burger-menu {
				opacity: 0;
				visibility: hidden;
			}
			.header__burger-close {
				transform: translate(0, 12px);
				opacity: 1;
				visibility: visible;
			}
			.header__burger-icon {
				width: 40px;
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 0px);
					}
					&:nth-child(2) {
						transform: rotate(-45deg);
					}
					&:last-child {
						transform: rotate(45deg) translate(-3px, 1px);
					}
				}
			}
		}
	}

	&__burger-icon {
		width: 48px;
		height: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 0 8px 0;
		transition: all 0.3s ease 0s;
		span {
			transition: all 0.3s ease 0s;
			height: 2px;
			background: #fff;
			display: inline-block;
			&:first-child {
				width: 20px;
			}
			&:nth-child(2) {
				width: 100%;
			}
			&:last-child {
				align-self: flex-end;
				width: 20px;
			}
		}
	}

	&__burger-menu {
		opacity: 1;
		visibility: visible;
		transition: all 0.3s ease 0s;
	}

	&__burger-close {
		opacity: 0;
		visibility: hidden;
		color: #4f4f4f;
		transition: all 0.3s ease 0s;
		position: absolute;
		top: 3px;
		left: -90px;
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__menu-board {
	}
}

.menu-board {
	position: fixed;
	top: -100%;
	right: -100%;
	width: 94%;
	height: 900px;
	background: #fff;
	z-index: 4;
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
	overflow-x: hidden;
	overflow-y: auto;
	@media (max-width: 1365px) {
		height: 100%;
		width: 100%;
	}

	&.active {
		transform: scale(1);
		top: 0;
		right: 0;
		opacity: 1;
		visibility: visible;
	}

	&__container {
		max-width: 1500px;
		padding: 0 10px;
		margin: 0 auto;
	}

	&__form {
		position: relative;
		border-bottom: 1px solid #4f4f4f;
	}

	&__input {
		height: 140px;
		width: 100%;
		font-size: 24px;
		padding: 0 200px 0 66px;
		&::placeholder {
			font-family: "Roboto Condensed", sans-serif;
			font-style: italic;
			font-weight: 300;
			font-size: 24px;
			line-height: 40px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #4f4f4f;
		}
		@media (max-width: 992px) {
			height: 80px;
		}
		@media (max-width: 767px) {
			padding: 0 80px 0 50px;
			font-size: 16px;
			&::placeholder {
				font-size: 16px;
			}
		}
	}

	&__button {
		background: url("../img/header/search.svg") center no-repeat;
		width: 36px;
		height: 31px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 80px 0;
		@media (max-width: 992px) {
			margin: 30px 0;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 auto;
		margin: 0 -20px;
	}

	&__column {
		flex: 1 1 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 20px 50px 20px;
		@media (max-width: 992px) {
			margin: 0 20px 40px 20px;
		}
		@media (max-width: 767px) {
			margin: 0 20px 20px 20px;
		}
	}

	&__big-column {
		flex: 1 1 50%;
	}

	&__item:not(:last-child) {
		margin: 0 0 50px 0;
		@media (max-width: 992px) {
			margin: 0 0 20px 0;
		}
	}

	&__heading {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: bold;
		font-size: 30px;
		line-height: 40px;
		text-transform: uppercase;
		color: #070707;
		position: relative;
		@media (min-width: 1024px) {
			&::before {
				content: "";
				position: absolute;
				bottom: -5px;
				left: -70px;
				background: #070707;
				width: 0%;
				height: 3px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease 0s;
			}
			&:hover {
				&::before {
					width: 100%;
					left: 0;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__list {
		margin: 20px 0 0 0;
		li:not(:last-child) {
			margin: 0 0 10px 0;
		}
		@media (max-width: 767px) {
			margin: 6px 0 0 0;
		}
	}

	&__link {
		font-weight: bold;
		font-size: 13px;
		line-height: 24px;
		text-transform: uppercase;
		color: #4f4f4f;
		transition: all 0.3s ease 0s;
		position: relative;
		@media (min-width: 1024px) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

// .footer

.footer {
	&__body {
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 180px;
		border-bottom: 1px solid #4f4f4f;
		border-top: 1px solid #4f4f4f;
		margin: 0px 0px 60px 0px;
	}

	&__subtitle {
		margin: 0px 20px 0px 0px;
	}

	&__socials {
		display: flex;
		align-items: center;
	}

	&__socials-item {
		border-radius: 50%;
		background: #141414;
		height: 60px;
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px 0px 0px 20px;
		img {
			max-width: 24px;
		}
	}

	&__middle {
		margin: 0px 0px 60px 0px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		height: 400px;
		@media (max-width:1600px) {
			height: 800px;
		}
		@media (max-width:1200px) {
			height: 1200px;
		}
		@media (max-width:992px) {
			flex-direction: column-reverse;
		}
	}

	&__item {
		margin: 0px 40px 26px 0px;
		
	}

	&__heading {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
		color: #ffffff;
		display: inline-block;
		margin: 0px 0px 16px 0px;
		transition: all 0.3s ease 0s;
		position: relative;
		@media (min-width: 1024px) {
			&::before {
				content: "";
				position: absolute;
				bottom: -5px;
				left: -70px;
				background: #fff;
				width: 0%;
				height: 3px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease 0s;
			}
			&:hover {
				&::before {
					width: 100%;
					left: 0;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&__list {
	}

	&__link {
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #4f4f4f;
		display: inline-block;
		margin: 0px 0px 10px 0px;
		&:hover{
			text-decoration: underline;
		}
	}

	&__column-info{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	&__column-map{
		flex: 0 0 390px;
	}

	&__map {
		position: relative;
		z-index: 0;
		overflow: hidden;
		iframe {
			width: 100%;
			height: 255px;
		}
	}

	&__see {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.8);
	}

	&__map-bar {
		font-weight: bold;
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: #070707;
		background: #fff;
		height: 40px;
		width: 230px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	&__bottom {
		min-height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid #4f4f4f;
	}

	&__text {
		font-size: 12px;
		line-height: 18px;
		text-transform: uppercase;
		color: #4f4f4f;
		margin: 0px 20px 0px 0px;
	}

	&__dev {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__dev-info {
		font-size: 12px;
		line-height: 18px;
		text-transform: uppercase;
		color: #4f4f4f;
		a {
			font-size: 12px;
			line-height: 18px;
			text-transform: uppercase;
			color: #4f4f4f;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}

	&__dev-logo {
		flex: 0 0 100px;
		margin: 0px 0px 0px 20px;
		img{
			max-width: 100%;
		}
	}
}

// .main

.main {
	flex: 1 1 auto;
}
