@import "_nullstyle";

body {
	//font-family: 'Lato', sans-serif;
	font-family: "Raleway", sans-serif;
	//font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
}

.splash-main {
	position: relative;
	z-index: 0;
	height: 100vh;
	width: 100vw;
	min-height: 100vh;
	min-width: 100vw;
	overflow: hidden;
	background: url("/img/spalsh/splash-bg.jpg") left center/cover no-repeat;
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&__video {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@media (min-height: 1080px) {
			display: none;
		}
	}

	&__body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 15px;
	}

	&__logo {
		width: 200px;
		margin: 140px 0 40px 0;
		img {
			max-width: 100%;
		}
		@media (max-width: 992px) {
			margin: 50px 0 20px 0;
		}
		@media (max-width: 767px) {
			width: 160px;
		}
		@media (max-width: 360px) {
			width: 140px;
		}
	}

	&__title {
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 60px 0;
		span {
			font-family: "Roboto Condensed";
			font-weight: bold;
			font-size: 80px;
			letter-spacing: -0.03em;
			display: inline-block;
			margin: 20px 0 0 0;
		}
		@media (max-width: 767px) {
			margin: 0 0 50px 0;
			span {
				font-size: 50px;
			}
		}
		@media (max-width: 360px) {
			font-size: 14px;
			span {
				font-size: 30px;
			}
		}
	}

	&__enter {
		margin: 0 0 100px 0;
		@media (max-width: 767px) {
			margin: 0 0 50px 0;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			img {
				transform: translate(10px, -50%);
			}
		}
	}

	&__icon {
		position: relative;
		width: 63px;
		margin: 0 23px 0 0;
		&:after {
			content: "";
			display: inline-block;
			border: 1px solid #fff;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			transition: all 0.3s ease 0s;
		}
		img {
			max-width: 100%;
			position: absolute;
			top: 50%;
			left: -50%;
			transform: translate(0, -50%);
			transition: transform 0.3s ease 0s;
		}
		@media (max-width: 767px) {
			width: 40px;
			&:after {
				width: 40px;
				height: 40px;
			}
		}
	}

	&__text {
		font-size: 18px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #fff;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			background: #fff;
			width: 98%;
			height: 1px;
		}
		@media (max-width: 360px) {
			font-size: 14px;
		}
	}

	&__form {
		margin: 0 0px 100px 0;
		@media (max-width: 992px) {
			margin: 0 0 50px 0;
		}
	}

	&__label {
		font-family: "Lato", sans-serif;
		font-weight: 300;
		font-size: 16px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		@media (max-width: 360px) {
			font-size: 14px;
			text-transform: none;
		}
	}

	&__checkbox {
		display: none;
		&:checked + .splash-main__box::after {
			opacity: 1;
			visibility: visible;
		}
	}
	&__box {
		position: relative;
		border: 1px solid #ffffff;
		display: inline-block;
		width: 40px;
		flex: 0 0 40px;
		height: 40px;
		margin: 0 22px 0 0;
		&::after {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 20px;
			background: url("/img/spalsh/tick.png") center no-repeat;
			transform: translate(-50%, -50%);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: 767px) {
			width: 20px;
			height: 20px;
			flex: 0 0 20px;
			&::after {
				transform: translate(-12px, -16px);
			}
		}
	}
}
.splash-container {
	margin: 0 auto;
	max-width: 1660px;
	position: relative;
	z-index: 4;
	width: 100%;
	height: 100%;
}
